body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', 'Roboto Mono', monospace;
  background: linear-gradient(89deg, #649173 0%, #dbd5a4 74%);
}

.center {
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
}
